{% extends "base.twig" %}

{% block content %}
<div class="content-row">
    <div class="content-cell">
        <div class="form_wrapper one_col my_ratings">
            <div class="header">
                <h2>Minhas avaliações</h2>
            </div>
            <div class="form_wrapper_col">
                <form role="form">
                    <div class="form-group checkbox">
                        <div>
                            <p>Vale do Anhangabaú (apenas texto)</p>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        <a href="javascript://">
                            <p>Vale do Anhangabaú (link)</p>
                        </a>
                    </div>
                    <div class="form-group plus">
                        <a href="javascript://">
                            <p>Av. São João, Largo Paissandú &amp; Av. Rio Branco</p>
                        </a>
                    </div>
                    <div class="form-group checkbox">
                        <a href="javascript://">
                            <p>Rua 25 de Março e Praça Cantareira</p>
                        </a>
                    </div>
                    <div class="form-group checkbox">
                        <a href="javascript://">
                            <p>Largo São Francisco &amp; Praça Ouvidor Pacheco e Silva</p>
                        </a>
                    </div>
                    <div class="form-group plus">
                        <a href="javascript://">
                            <p>Pateo do Colégio &amp; Rua Roberto Simonsen</p>
                        </a>
                    </div>                         
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}